<mat-drawer-container class="container"  autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <div class="img-container">
      <img src="../../../../assets/images/Captura_de_pantalla_2023-04-23_160836-removebg-preview.png" alt="">
      <hr>
    </div>
    <div class="div-list-navbar">
      <ul>
          <li> <i class="fa-solid fa-school" style="color: #000000;"></i> Inicio </li>
          <li ><p (click)="toggle()"> <i class="fa-solid fa-users"></i> Usuarios
            <!-- <ng-template [ngIf]="!isVisible"><i  class="fa-sharp fa-solid fa-chevron-down"></i></ng-template>  
            <ng-template [ngIf]="isVisible"><i class="fa-solid fa-chevron-up"></i></ng-template>   -->
          </p>
            <!-- <ul   [ngClass]="{'display-none': !isVisible, 'display-block': isVisible}" class="sub-ul "><li class="sub-li"><i class="fa-solid fa-user-plus"></i> Agregar</li></ul> -->

          </li>

      </ul>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
      <div class="div-navbar">
          <div class="div-bar-icon">
              <i (click)="drawer.toggle()" class="fa-solid fa-bars fa-2x"></i>
          </div>
          <div class="div-container-per-info">
              <div class="div-avatar">
                  <img src="../../../../assets/images/img_avatar1.png" alt="Avatar" class="avatar">
              </div>
              <div class="div-navbar-per-infor">
                  <h2>Jhonnys De Avila</h2>
                  <p>Desarrollador</p>
              </div>
              <div class="div-more-expand">
                <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>expand_more</mat-icon></button>
                <mat-menu  class="mat-menu" #beforeMenu="matMenu" xPosition="before">
                    <button routerLink="/profile"  mat-menu-item>Mi perfil</button>
                    <button mat-menu-item>Cerrar sesión</button>
                </mat-menu>
            </div>           
          </div>
      </div>
    <div class="div-content" id="htmlData">
      <app-courses></app-courses>
      <!-- <app-subject></app-subject> -->
    </div>
  </div>

</mat-drawer-container>