<section class="subjects">
    <article class="subject">
      <!-- <img src="imagen-matematicas.jpg" alt="Imagen de Matemáticas"> -->
      <h3>Matemáticas</h3>
      <p>Este curso cubre los conceptos básicos de matemáticas para el tercer grado.</p>
    </article>
    <article class="subject">
      <!-- <img src="imagen-ciencias.jpg" alt="Imagen de Ciencias"> -->
      <h3>Ciencias</h3>
      <p>Este curso introduce a los estudiantes a los conceptos básicos de las ciencias naturales.</p>
    </article>
    <article class="subject">
      <!-- <img src="imagen-literatura.jpg" alt="Imagen de Literatura"> -->
      <h3>Literatura</h3>
      <p>Este curso enseña a los estudiantes cómo analizar y escribir sobre la literatura.</p>
    </article>
    <article class="subject">
      <!-- <img src="imagen-historia.jpg" alt="Imagen de Historia"> -->
      <h3>Historia</h3>
      <p>Este curso cubre la historia mundial desde la Edad Antigua hasta la actualidad.</p>
    </article>
    <article class="subject">
        <!-- <img src="imagen-historia.jpg" alt="Imagen de Historia"> -->
        <h3>Historia</h3>
        <p>Este curso cubre la historia mundial desde la Edad Antigua hasta la actualidad.</p>
      </article>
  </section>
  