<section class="grades">
    <article class="grade">
      <!-- <img src="imagen-matematicas.jpg" alt="Imagen de Matemáticas"> -->
      <h3>Grado 3</h3>
      <p>En este grado, los estudiantes suelen tener entre 8 y 9 años de edad. Se centra en el desarrollo de habilidades de lectura, escritura y matemáticas, y también se introducen conceptos básicos de ciencias y estudios sociales.</p>
    </article>
    <article class="grade">
      <!-- <img src="imagen-ciencias.jpg" alt="Imagen de Ciencias"> -->
      <h3>Ciencias</h3>
      <p>Este curso introduce a los estudiantes a los conceptos básicos de las ciencias naturales.</p>
    </article>
    <article class="grade">
      <!-- <img src="imagen-literatura.jpg" alt="Imagen de Literatura"> -->
      <h3>Literatura</h3>
      <p>Este curso enseña a los estudiantes cómo analizar y escribir sobre la literatura.</p>
    </article>
    <article class="grade">
      <!-- <img src="imagen-historia.jpg" alt="Imagen de Historia"> -->
      <h3>Historia</h3>
      <p>Este curso cubre la historia mundial desde la Edad Antigua hasta la actualidad.</p>
    </article>
    <article class="grade">
        <!-- <img src="imagen-historia.jpg" alt="Imagen de Historia"> -->
        <h3>Historia</h3>
        <p>Este curso cubre la historia mundial desde la Edad Antigua hasta la actualidad.</p>
      </article>
  </section>
  