<section class="section-container-overall">
    <div class="div-title">
        <h1>Sistema escolar</h1>
    </div>
    <div class="div-container-overall">
       
        <div class="avatar">
            <img src="../../../../assets/images/img_avatar1.png" alt="">
        </div>
        <div class="div-form">
            <div class="div-subtitle">
                <h2>Registrarse</h2>
            </div>
            <form action="" class="form">
                <div class="div-input">
                    <mat-form-field class="mat-form-field" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="div-input">
                    <mat-form-field class="mat-form-field" appearance="fill">
                        <mat-label>Apellidos</mat-label>
                        <input type="text" matInput>
                    </mat-form-field>
                </div>
                <div class="div-input">
                    <mat-form-field class="mat-form-field" appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input type="email" matInput>
                    </mat-form-field>
                </div>
                <div class="div-input">
                    <mat-form-field class="mat-form-field" appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input type="email" matInput>
                    </mat-form-field>
                </div>
                <div class="div-input">
                    <mat-form-field class="mat-form-field" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput>
                    </mat-form-field>
                </div>
                <div class="div-button">
                <button mat-raised-button >Registrarse</button>
                </div>
            </form>

        </div>
    </div>
</section>